</div>
</div>
</div>
<footer>
    <p class="text-center">Albumz &copy; 2016, All Rights Reserved</p>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
</footer>
</body>
</html>